meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0")
meta(content="text/html; charset=utf-8")
meta(charset="utf-8")
<!-- UC强制全屏 -->
meta(name="full-screen" content="yes")
<!-- QQ强制全屏 -->
meta(name="x5-fullscreen" content="true")
<!--苹果全屏-->
meta(meta name="apple-mobile-web-app-capable" content="yes" )