<!DOCTYPE html><html lang="zh_cn"><head><title></title><meta http-equiv="Content-Type" content="text/html; charset=utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"><meta content="text/html; charset=utf-8"><meta charset="utf-8"><!-- UC强制全屏 --><meta name="full-screen" content="yes"><!-- QQ强制全屏 --><meta name="x5-fullscreen" content="true"><!--苹果全屏--><meta meta name="apple-mobile-web-app-capable" content="yes"><link rel="stylesheet" href="../weui/dist/style/weui.min.css"><style>html {
    background: #EEE;
}
body{
    font-size:14px !important;
    font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, 'Microsoft Yahei', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif !important;
}
img{
    width:30px;margin-right:5px;display:block;
}
.feedback{
    color: #b32020;
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 30px;
    cursor: pointer;
}</style></head><body><div class="weui_cells_title"> 问题和意见</div><textarea placeholder="请输入您的问题和意见" name="" rows="6" class="weui_textarea"></textarea><div class="weui_cells_title"> 联系电话</div><input placeholder="选填，便于我们与你联系" type="Number" name="" class="weui_input"><a href="javascript:;" class="weui_btn weui_btn_warn">确认</a></body></html>