<!DOCTYPE html>
<html lang="zh-cn" class="no-js">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Type">
    <meta content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <title>关于我们</title>
    <meta name="keywords" content="深圳市易付通金融信息技术有限公司，三好资本，深圳华融金融集团" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <link rel="stylesheet" type="text/css" href="../fullPage/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../fullPage/css/animations.css">
    <link rel="stylesheet" type="text/css" href="../fullPage/css/layout.css">
    <link rel="stylesheet" type="text/css" href="../fullPage/css/page.css">
</head>
<body>
<div id="page-hd">
    <div id="loading" style="display: none;">
        <div class="spinner">
            <div class="spinner-container container1">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
                <div class="circle4"></div>
            </div>
            <div class="spinner-container container2">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
                <div class="circle4"></div>
            </div>
            <div class="spinner-container container3">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
                <div class="circle4"></div>
            </div>
        </div>
    </div>
    <img src="fullPage/img/icon_down.png" alt="" class="arrow-down pt-page-moveIconDown">
    <img src="fullPage/img/icon_up.png" alt="" class="arrow-up pt-page-moveIconUp"> </div>

<div id="page-content">
    <div class="page page-1 page-current"></div>
    <div class="page page-2 hide"></div>
    <div class="page page-3 hide"></div>
    <div class="page page-4 hide"></div>
    <div class="page page-5 hide"></div>
    <div class="page page-6 hide"></div>
    <!--<div class="page page-7 hide"></div>-->
    <!--<div class="page page-8 hide"></div>-->
    <!--<div class="page page-9 hide"></div>-->
</div>
<div id="page-ft"></div>

<script type="text/javascript" src="../fullPage/js/zepto.min.js"></script>
<script type="text/javascript" src="../fullPage/js/touch.js"></script>
<script type="text/javascript" src="../fullPage/js/index.js"></script>
</body>
</html>