doctype html
html(lang='zh_cn')
    head
        title #{title}
        include ./../../command/meta
        include ./../../command/bootstrap
        style.
            .content{
                padding:2rem 4rem;
            }
            .content .title{
                color: #d5001c;
                font-size: 1.6rem;
                font-weight: bold;
            }
            .content p{
                color: #948b8b;
                line-height: 2rem;
                font-size:1.5rem;
            }
    body
        include ./../../command/loading
        div.main
            img(src="images/security/security_pic01.jpg" width="100%")
            div.content
                p.title 三好资本隶属深圳市华融金融集团
                p 先后荣获：
                p 全国万亿担保规模上榜机构30强
                p 中国十大AAA级信用担保机构
                p 中国最佳风险管理金奖
                p 中国互联网金融诚信服务最具影响力品牌
                p 成为 &nbsp;"普惠金融" &nbsp; 全牌照服务提供商
                img(src="images/security/security_pic03.jpg" width="100%")
            img(src="images/security/security_pic02.jpg" width="100%")
            div.content
                p.title 高可靠风控系统
                p 华融集团在深耕小微金融12年基础上研发的小贷风控系统，已成功为10万家以上的客户提供过优质服务。
                p.title 大型融资担保集团提供担保
                p 引入业内10年、全国前十的担保集团对平台项目提供本息担保。
                p.title 优质资产足额抵押
                p 借款人在借款时需提供其名下房产、车等优质资产足额抵押。
                p.title 业界一流的专业团队
                p 管理团队成员皆由国内、国际的知名互联网企业从业多年的成员组成。
                p.title 专业评审会
                p 项目都需经过评审会进行严格公开评审，每次评审会都严格要求不少于3名外部专家参与，且外部专家有一票否决权。
                p.title 数据与信息安全
                p 专业级防黑客攻击设备，128位数据加密，多重灾备机制，内部严格的权限管控，保障客户的数据万无一失。