<!doctype html>
<html lang="zh-cn">
<head>
    <meta name="viewport" content="initial-scale=1, user-scalable=0, minimal-ui" charset="UTF-8">
    <title>公告列表</title>
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <link rel="stylesheet" href="../zui/dist/css/zui.min.css"/>
    <link rel="stylesheet" href="../dropload/scroll.css">
    <link rel="stylesheet" href="../dropload/dropload.css">
</head>
<body>
<div class="content">
    <div class="lists list-group"></div>
</div>
<!-- jQuery1.7以上 或者 Zepto 二选一，不要同时都引用 -->
<script src="../dropload/zepto.min.js"></script>
<script src="../dropload/dropload.min.js"></script>
<script src="../dropload/loaddata.js"></script>

</body>
</html>