doctype html
html(lang='zh-cn')
    head
        title #{title}
        include ../../views/command/meta
        <!-- UC强制全屏 -->
        meta(name="full-screen" content="yes")
        <!-- QQ强制全屏 -->
        meta(name="x5-fullscreen" content="true")
        link(rel="stylesheet" href="../zui/dist/css/zui.min.css")
        link(rel="stylesheet" href="../dropload/scroll.css")
        link(rel="stylesheet" href="../dropload/dropload.css")

    body
        div.content
            div.lists.list-group
        script(src="../dropload/zepto.min.js")
        script(src="../dropload/dropload.min.js")
        script(src="../dropload/loaddata.js")